body {
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0;
}

.wrapper {
    margin: 0;
}
.fullborder {
    border: black solid thin;
    background-color: lawngreen;
}
.header {
    text-align: left;
    background-color: black;
    color: #fff;
    padding: 0.25rem;
}

.container {
    margin: 0 3rem;
}

.columns {
    display: flex;
}

.columns .column {
    flex-grow: 1;
}

.footer {
    position: absolute;
    padding: 0 0.5rem;
    background-color: black;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.footer :nth-child(2) {
    text-align: right;
}
 ul {
    list-style-type: none;
    margin-right: 31px;
    padding: 0;
    float: right;
}
 li {
    display: inline;
}
.menu {
    float: right;
}
.subtitle{
    text-align: center;
}
.banner {
    background-image: url("../Images/happy_people.jpg");
    background-repeat:  no-repeat;
    background-size: auto;
}

#hero h1{
    margin: 0px;

}
#hero {
    height: 365px;
    width: 320px;
    position: relative;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #563d7c;
    padding: 0px;
    filter: alpha(opacity=40);
    opacity: 0.40;
}
#heroText {
    position: relative;
    z-index: 2;

}
.box {
    width: 266px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 18px;
    height: 215px;
    float: left;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    margin-top: 18px;
    margin-right: 18px;
}

.boxTitle {
    border-bottom: 1px solid black;
}
.boxContent {
    padding-top: 9px;
}
